.post {
  background-color: #282828;
  color: white;
  padding: 10px;
}

.post-content-container {
  display: flex;
  margin-bottom: 20px;
}

.post-profile-image-container {
  flex-shrink: 0;
}

.post-username {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-username-and-content-container {
  display: flex;
  flex-direction: column;
}

.post,
.post * {
  box-sizing: border-box;
}