.navigation-bar {
  align-items: center;
  background-color: #282828;
  box-sizing: border-box;
  color: white;
  display: flex;
  padding: 10px;
}

.navigation-bar-home-button {
  cursor: pointer;
  margin-right: 20px;
}

/**
 * Duplicate of button in create post 
 */
.navigation-bar-connect-button {
  background-color: #1DA1F2;
  border: 0;
  box-sizing: color;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 75px;
}

@media only screen and (min-width: 768px) {
  .navigation-bar {
    justify-content: flex-end;
  } 
}